@charset "UTF-8";

#{$all-buttons} {
  background: none;
  border: none;
  font-family: inherit;
  outline: none;
}

@mixin button {
  @include text-base;
  display: inline-block;
  border-radius: $border-radius-small;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;

  &:not(a) {
    transition: all $transition-duration-base;
  }

  @at-root a#{&} {
    text-decoration: none;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .3;
  }
}

@mixin button-filled {
  padding: 1rem 2rem;
  background: $color-brand;
  color: #fff;

  &:not([disabled]):hover {
    background: rgba($color-brand, .7);
  }
}

@mixin button-bordered {
  padding: .9rem 1.9rem;
  background: #fff;
  border: 1px solid $color-lightest;
  color: $color-brand;

  &:not([disabled]):hover {
    border-color: $color-lighter;
  }
}

.button.button { // Increasing specifity
  @include button;

  &--filled {
    @include button-filled;
  }

  &--filled-large {
    @include button-filled;
    @include text-large;
    padding: 1.9rem 2rem;
  }

  &--bordered {
    @include button-bordered;
  }

  &--bordered-large {
    @include button-bordered;
    @include text-large;
    padding: 1.8rem 1.9rem;
  }
}