.editor {
  font-family: $font-family-sans;


  &__box {

    @media (min-width: 1280px) {
      margin-left: 22rem;
      margin-right: 23rem;
    }
  }

  &__body {
    padding: 3.4rem 2rem;
    background: #fff;
    min-height: 500px; // todo remove

    @include mq(sm) {
      padding: 5.4rem 6rem;
    }
  }

  &__input-block {
    position: relative;
    margin-bottom: 1.5rem;

    @include mq(sm) {
      margin-bottom: 2rem;
    }

    > textarea {
      @include font(3.2rem,3.4rem);
      display: block;
      font-weight: 700;
      color: $color-base;
      border: 0;
      outline: none;

      &::placeholder {
        color: $color-lighter;
    }

      @include mq(sm) {
        @include font(4rem,4rem);
      }
    }

    &--description {
      margin: 1.2rem 0 1.5rem;

      @include mq(sm) {
        margin: 1.6rem 0 2.5rem;
      }

      > input {
        @include font(1.6rem, 2.2rem);
        font-family: 'Georgia';
        font-weight: 400;
      }
    }
  }

  &__content-box {
    position: relative;
  }

  &__buttons {
    position: absolute;
    display: none;
    top: -.1rem;
    left: -5rem;
    transform: translate(-75%, -25%);
    padding: .7rem 1rem;
    background: #b3b3b3;
    z-index: 999;

    @include mq(xs) {
      left: 50% !important;
      transform: translateX(-50%) !important;
      background: transparent;

      &:after{
        display: none;
      }
    }

    &::after {
      @include triangle(1.2rem, #b3b3b3, right);
      position: absolute;
      top: 50%;
      left: 99%;
      transform: translate(0,-50%);
      content: '';
    }
  }

  &__buttons-body {
    display: flex;


    @include mq(xs) {

      > a {
        color: $color-light;
      }
    }

    > a {
      display: block;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        color: #fff;
      }

      > i {
        @include font(2rem, 2rem);
      }
    }

    @include mq(sm) {
      color: #e8e8e8;
    }


  }


  &__input-link-form {
    position: absolute;
    display: none;
    top: 50%;
    right: -2.2rem;
    transform: translate(100%,-50%);
    padding: .5rem;
    width: 30rem;
    background: #fff;

    &.is-active {
      display: flex;
    }

    @include mq(sm) {
      width: 40rem;
    }

    > input {
      @include text-large;
      font-family: $font-family-serif;
      color: $color-light;
      border: 0;
      background: #fff;
      min-width: 25rem;
      outline: none;

      &::placeholder {
        color: $color-light;
      }

      @include mq(sm) {
        min-width: 29rem;
      }

      &[type='file'] {
        @include size(0);
        opacity: 0;
        position: absolute;
        top: -999999px;
        left: -999999px;
      }

    }

    > a {
      display: block;
      margin-left: 1rem;
    }
  }


}

.ql-toolbar {
  @include font(2rem,2rem);
  background: #4d4d4d;
  border-radius: 0;
}

.ql-bubble .ql-toolbar button {
  color: rgba(#fff, .7);

  &[value='2'] {
    @include font(2rem,2rem);
  }

  &[value='3'] {
    @include font(1.6rem,1.6rem);
  }

}


.ql-bubble .ql-toolbar button > i {
  @include font(2rem,2rem);
}

.ql-editor.ql-blank::before {
  @include font(3.2rem,3.5rem);
  position: absolute;
  top: -1.3rem;
  left: 0;
  display: block;
  width: 100%;
  font-weight: 700;
  border: 0;
  outline: none;
  font-family: $font-family-sans;
  font-style: normal;
  color: $color-lighter;

  @include mq(sm) {
    @include font(4rem,4rem);
  }
}

.ql-editor.ql-blank::after {
  @include text-large;
  position: absolute;
  top: 6.4rem;
  left: 0;
  display: block;
  width: 100%;
  font-weight: 700;
  border: 0;
  outline: none;
  font-style: normal;
  color: $color-lightest;
  content: 'Текст или фото...';

  @include mq(sm) {
    top: 4rem;
  }
}



// editor content style
.ql-bubble .ql-editor {
  @include text-large;
  font-family: $font-family-serif;
  padding: 0;
  min-height: 48rem;

  .ql-add-code {

     &::before {
       content: attr(data-code);
     }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    @include font(3.2rem,3.4rem);
    display: block;
    width: 100%;
    font-weight: 700;
    color: $color-base;
    border: 0;
    outline: none;

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      content: attr(data-placeholder);
      opacity: 1;
      color: $color-lighter;
    }

    &:empty {
      &::after {
        opacity: 1;
      }
    }
  }

  > h2,
  > h3 {
    font-family: $font-family-sans;

    &:not(:first-child) {
      margin-top: 3rem;

      @include mq(sm) {
        margin-top: 4rem;
      }

      @include mq(md) {
        margin-top: 6rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  // Blockquote
  > blockquote:not(.instagram-media) {
    @include content-indents-base;
    @include font(1.8rem, 2.5rem);
    padding-left: 2rem;
    border-left: 1px solid $color-light;
    font-style: italic;

    @include mq(md) {
      @include font(2rem, 2.5rem);
      padding-left: 3rem;
    }
  }

  // Figure

  .ql-image figcaption {

    &::before {
      content: attr(data-figcaption);
    }

  }

  > figure {
    @include content-indents-large;
    position: relative;

    > img {
      display: block;
      margin: {
        right: auto;
        left: auto;
      }
      vertical-align: top;
    }

    > figcaption {
      @include text-base;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      margin-top: 1rem;
      color: $color-lighter;
      font-family: $font-family-sans;
      text-align: center;
    }
  }

  // Img
  > img, > a > img {
    @include content-indents-large;
    display: block;
    margin: {
      right: auto;
      left: auto;
    }
    vertical-align: top;
  }

  // Lists
  > ol,
  > ul {
    @include content-indents-base;
    margin-left: 2rem;
    padding: 0 !important;

    @include mq(sm) {
      margin-left: 3rem;
    }

    @include mq(md) {
      margin-left: 4.5rem;
    }

    > li {
      padding: 0 !important;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  > ol {
    list-style: decimal;
  }

  > ul {
    list-style: disc;
  }

  // Paragraph
  > p {
    @include content-indents-base;
  }

  // Video (Youtube, Vimeo)
  &__video {
    @include content-indents-large;
    position: relative;
    padding-bottom: 56.25%; // 16:9
    height: 0;

    > iframe {
      @include size(100%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &--promo {
    margin: {
      right: -2rem;
      left: -2rem;
    }

    @include mq(sm) {
      margin: {
        right: -4rem;
        left: -4rem;
      }
    }

    @include mq(md) {
      margin: {
        right: -6rem;
        left: -6rem;
      }
    }

    > img {
      max-width: none;
      width: 100%;
    }
  }
}