@charset "UTF-8";

.setting-form {
  font-family: $font-family-sans;
  margin-top: 4rem;

  @media (min-width: 1180px) {
    margin-left: 23.5rem;
    margin-right: 23.5rem;
  }

  @include mq(sm) {
    margin-top: 6rem;
  }

  &__title-line {

    > h1 {
      @include font(1.4rem,2.2rem);
      text-transform: uppercase;
      color: $color-light;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    @include mq(xs) {
      justify-content: space-between;
    }

    @include mq(sm) {
      margin-top: 6rem;
    }

    @media (min-width: 1180px) {
      margin-left: 13.5rem;
      margin-right: 13.5rem;
      justify-content: space-between;
    }
  }

  &__image-block {
    width: 12rem;

    @media (min-width: 1180px) {
      width: 24rem;
    }

    @include mq(sm) {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }

    > img {
      width: 100%;
      height: auto;
      vertical-align: top;
      border-radius: 50%;
    }

    > a {
      @include font(1.4rem,2rem);
      margin-top: 1rem;
      display: block;
      text-align: center;
      color: #4d4d4d;
    }
  }

  // settings form

  &__form-body {
    margin-top: 4rem;

    @include mq(md) {
      margin: 6rem 22rem;
    }
  }

  &__form-input-block {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--absolute-label {

      > label:not(.forms__label-check), > p {
        @media (min-width: 1180px) {
          position: absolute;
          top: 50%;
        }
      }

      > label:not(.forms__label-check) {
        @include font(1.6rem,2.2rem);
        display: block;
        font-weight: 700;
        color: $color-base-alt;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        @include mq(sm) {
          display: block;
        }

        @media (min-width: 1180px) {
          left: -3rem;
          transform: translate(-100%, -50%);
        }
      }

      > p {
        @include font(1.2rem,1.8rem);
        display: block;
        color: $color-lighter;

        &:not(:first-child) {
          margin-top: .6rem;
        }

        @media (min-width: 1180px) {
          right: -3rem;
          transform: translate(100%, -50%);
          max-width: 19rem;
        }
      }
    }

    > textarea {
      height: 18rem;
      resize: none;
    }

    &--for-button {
      margin-top: 4rem;

      @include mq(sm) {
        margin-top: 6rem;
      }

      > button {
        @include font(1.6rem, 2rem);
        display: block;
        width: 100%;
        padding: 2rem;
        text-align: center;
        border-radius: $border-radius-small;
        background: $color-base-alt;
        color: #fff;

        @include mq(md) {
          &:hover {
            background: rgba($color-base-alt, .7);
          }
        }
      }
    }
  }

  &__group-title {
    @include font(1.4rem,2.2rem);
    margin: 3.8rem 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .075em;
    color: $color-base-alt;


    @media (min-width: 1180px) {
      margin: 5rem 0 5rem -22rem;
    }
  }


}