mixin articleCard(reviews, author, authorLink, title, content)
    article.article-card.article-card--controls.card
        .article-card__reviews.reviews-count
            span= reviews
            i.icon.icon--24.mdi.mdi-comment-outline

        .article-card__author
            include _user
            if authorLink
                + user(author, {datetime: '21 фев'}, 'user--employee', 'employee_articles.html')
            else
                + user(author, {datetime: '21 фев'}, 'user--employee')

        h3.article-card__title
            a(href='article.html')= title

        a.article-card__category(href='#') Категория


        if content
            .article-card__content.content.js-content
                case content
                    when 'text'
                        p По&nbsp;результатам проведенной комплексной диагностики технических неисправностей и&nbsp;отклонений не&nbsp;выявлено, что подтверждается сервисным заказ-нарядом.
                    when 'quote'
                        blockquote По&nbsp;результатам проведенной комплексной диагностики технических неисправностей и&nbsp;отклонений не&nbsp;выявлено, что подтверждается сервисным заказ-нарядом.
                    when 'photo'
                        img(src='http://static.kavtoday.ru/images/intros/20161214/74c8028efb14a7e582533384e2d1b7d0.jpg' alt='')
                    when 'video'
                        iframe(width="560" height="315" src="https://www.youtube.com/embed/6KxtgS2lU94" frameborder="0" allowfullscreen)

            .article-card__controls
                .controls-button-grid

                    a.control-button.control-button--edit(href='#') Редактировать
                    a.control-button.control-button--delete.js-alert-open-delete(href='#')
                        span.is-desktop Удалить
                        i.mdi.mdi-close.not-desktop

