.article__sharing
    ul.sharing
        li.sharing__item
            a.sharing__link.sharing__link--vk(href='#')
                i.icon.icon--20.mdi.mdi-vk
        li.sharing__item
            a.sharing__link.sharing__link--facebook(href='#')
                i.icon.icon--20.mdi.mdi-facebook
        li.sharing__item
            a.sharing__link.sharing__link--twitter(href='#')
                i.icon.icon--20.mdi.mdi-twitter
        li.sharing__item
            a.sharing__link.sharing__link--viber(href='#')
                i.icon.icon--20.mdi.mdi-phone-in-talk
        li.sharing__item
            a.sharing__link.sharing__link--whatsapp(href='#')
                i.icon.icon--20.mdi.mdi-whatsapp
        li.sharing__item.sharing__item--counter 32.7k