ul.authorization-social
    li
        a.is-twitter(href='#')
            i.icon.icon--24.mdi.mdi-twitter
    li
        a.is-facebook(href='#')
            i.icon.icon--24.mdi.mdi-facebook
    li
        a.is-google-plus(href='#')
            i.icon.icon--24.mdi.mdi-google-plus