ul.authorization-user
    li.authorization-user__decorate
        a(href='#') Оформить свою страницу
    li.authorization-user__self
        img(src='../assets/images/avatar.svg' width='40' height='40' alt='')
    li.authorization-user__logout
        a(href='#') Выйти