ul.employee-card-article.card.js-hover-container
    li.employee-card-article__userpic
        a.js-hover(href='employee_articles.html')
            img.employee-card-article__userpic-img(src='../assets/images/userpic.svg' width='120' height='120' alt='')
    li.employee-card-article__content
        h2.employee-card-article__name
            a.employee-card-article__name-link.js-hover(href='employee_articles.html') Максим Скрябин
        p.employee-card-article__desc Начав общение со&nbsp;мной о&nbsp;покупке автомобиля, процесс...
    li.employee-card-article__action
        a.button.button--filled-large(href='#') Написать