mixin employeeCardPreview(name, desc, actions)
    article.employee-card-preview.card.js-hover-container
        .employee-card-preview__content
            .employee-card-preview__lk-info
                .employee-card-preview__info-date
                    span 21.08.17
                .employee-card-preview__info-request
                    a(href='#') Непрочитанное
            a.js-hover(href='employee_articles.html')
                img.employee-card-preview__userpic(src='../assets/images/userpic.svg' alt='')
            h2.employee-card-preview__title
                a.employee-card-preview__title-link.js-hover(href='employee_articles.html')= name

            if desc
                p.employee-card-preview__desc= desc

        if actions
            .controls-button-grid.controls-button-grid--top-auto

                    a.control-button.control-button--edit Написать

                    a.control-button.control-button--delete
                        span.is-desktop В архив
                        i.mdi.mdi-close.not-desktop


                //case actions.length
                //    when 1
                //        li
                //            a.button.button--filled(href='#')= actions[0].title
                //    when 2
                //        li
                //            a.button.button--filled(href='#')= actions[0].title
                //        li
                //            a.button.button--bordered(href='#' data-type=actions[1].type): span= actions[1].title