mixin header(params)
    - var modifier = ''
    if params.inner
    header.header#header(class='#{modifier}')
        .container
            if params.inner
                a.header__to-index(href='employees.html')
                    i.icon.icon--36.mdi.mdi-account-multiple

            .header__inner
                .header__logo
                    a(href='http://www.ascgroup.ru/' target='_blank')
                        img.header__logo-img(src='../assets/images/brand/logo.svg' alt='АвтоСпецЦентр')

                .header__nav

                    nav.navigation
                        ul
                            li.navigation__user-photo
                                a(href='#')
                                    img(src='../assets/images/avatar.svg')

                            li: a(href='#') Статьи

                            li: a.is-active(href='#') ПРОФИЛЬ

                            li: a(href='#') Отзывы

                            li: a(href='#') Запросы

                            li: a(href='#') Сотрудники

                            li.buttons

                                - var logo = true
                                if logo == true
                                    a.navigation__company-logo(href='#')
                                        img(src='../assets/images/logo_av.png' alt='company name')
                                else
                                    a.button-menu(href='#') Найти команду

                                a.button-menu.button-menu--exit(href='#') Выход





                .header__mobile-menu
                    .header__user-photo
                        a(href='#')
                            img(src='../assets/images/avatar.svg')
                    a.header__mobile-menu-toggle#mobile-menu-toggle(href='#')
                        i.icon.icon--36.mdi.mdi-menu

