mixin mobileMenu(params)
    menu.mobile-menu#mobile-menu
        .mobile-menu__inner
            .mobile-menu__nav
                nav.navigation.navigation--mobile-menu
                    ul
                        li: a(href='#') Статьи

                        li: a(href='#') ПРОФИЛЬ

                        li: a(href='#') Отзывы

                        li: a(href='#') Запросы

                        li.is-current: a(href='#') Сотрудники

                        li.buttons

                            a.button-menu(href='#') Найти команду
                            a.button-menu.button-menu--exit(href='#') Выход

            if params.authorized
                .mobile-menu__authorized
                    include _authorization_user
            else
                .mobile-menu__support
                    include _ft3