.popup.popup--authorization#popup-authorization
    include _popup_close
    article.popup-authorization
        h5.popup-authorization__title Выберите соцсеть для входа или регистрации:
        ul.popup-authorization__social
            li
                a.is-twitter(href='#') Twitter
            li
                a.is-facebook(href='#') Facebook
            li
                a.is-google-plus(href='#') Google
        footer.popup-authorization__support При поддержке <a href='#'>ft3.com</a>

.popup#popup-review-not-authorized
    include _popup_close
    .review-card.review-card--popup.review-card--add.card
        form.review-add(action='#')
            fieldset.review-add__fieldset
                legend.review-add__legend Максим Скрябин
                textarea.review-add__textarea.js-textarea-autosize.js-authorization-focus(rows='1' placeholder='Текст отзыва...')

.popup#popup-review-authorized
    include _popup_close
    .review-card.review-card--popup.card
        form.review-add(action='#')
            fieldset.review-add__fieldset
                legend.review-add__legend Максим Скрябин
                textarea.review-add__textarea.js-textarea-autosize(rows='1' placeholder='Текст отзыва...' autofocus)
            ul.review-add__action
                li
                    img.user__avatar-img(src='../assets/images/avatar.svg' width='40' height='40' alt='')
                li
                    input.button.button--filled(type='submit' value='Отправить')
                li.review-add__action-attitude
                    ul.review-add__attitude
                        li
                            input(type='radio' name='attitude')
                            i.icon.icon--24.mdi.mdi-thumb-up-outline
                            i.icon.icon--24.mdi.mdi-thumb-up
                            p положительный
                        li.is-hr: hr
                        li
                            input(type='radio' name='attitude')
                            i.icon.icon--24.mdi.mdi-thumb-down-outline
                            i.icon.icon--24.mdi.mdi-thumb-down
                            p отрицательный

.popup#popup-answer
    include _popup_close
    .review-card.review-card--popup.card
        form.review-add(action='#')
            fieldset.review-add__fieldset
                legend.review-add__legend.review-add__legend--employee Андрей Богоявленский
                textarea.review-add__textarea.js-textarea-autosize(rows='4' placeholder='Текст ответа...' autofocus)
            ul.review-add__action
                li.review-add__action-send
                    input.button.button--filled(type='submit' value='Ответить')

.popup#popup-mail
    include _popup_close
    .review-card.review-card--popup.card
        form.review-add(action='#')
            fieldset.review-add__fieldset
                legend.review-add__legend Максим Скрябин
                input.review-add__input-text(type='text' placeholder='Тема' autofocus)
                textarea.review-add__textarea.js-textarea-autosize(rows='1' placeholder='Сообщение...')
            ul.review-add__action
                li
                    img.user__avatar-img(src='../assets/images/avatar.svg' width='40' height='40' alt='')
                li.review-add__action-send
                    input.button.button--filled(type='submit' value='Отправить')

.popup#popup-messages-empty
    include _popup_close
    article.popup-messages
        h6.popup-messages__title Личное сообщение Максиму Скрябину
        form(action='#').popup-messages__answer
            img(src='../assets/images/avatar.svg' width='40' height='40' alt='')
            textarea.js-textarea-autosize(rows='1' placeholder='Напишите сообщение...' autofocus)
            input.button.button--filled(type='submit' value='Отправить')

.popup#popup-messages-full
    include _popup_close
    article.popup-messages
        h6.popup-messages__title Личное сообщение Максиму Скрябину
        ul.popup-messages__list
            li
                dl
                    dt <b>Андрей Богоявленский</b><span>21 фев &bull; 17:52</span>
                    dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li
                dl
                    dt <a href='#'><b>Максим Скрябин</b></a><span>21 фев &bull; 17:52</span>
                    dd Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            li
                dl
                    dt <b>Андрей Богоявленский</b><span>21 фев &bull; 17:52</span>
                    dd Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        form(action='#').popup-messages__answer
            img(src='../assets/images/avatar.svg' width='40' height='40' alt='')
            textarea.js-textarea-autosize(rows='1' placeholder='Напишите сообщение...' autofocus)
            input.button.button--filled(type='submit' value='Отправить')

.popup.popup--message#popup-message
    include _popup_close
    article.popup-message
        h5 Спасибо!
        p Ваше мнение очень важно для меня.
        a.button.button--filled.js-popup-close(href='#') Ок




.popup.popup--no-min-height#popup-search-team-result
    include _popup_close

    .controls-popup.forms
        h2.controls-popup__title Найти команду

        .controls-popup__input-block
            input(type='search')

        .controls-popup__team
            .controls-popup__team-date-create Регистрация 04.12.2017 в 17:35
            .controls-popup__content-grid
                .controls-popup__information
                    h3.controls-popup__team-title FT3
                    .controls-popup__links
                        a(href='#') 5 сотрудников
                        a(href='#') <span>team</span>.ft3.com

                .controls-popup__buttons-box

                    a.control-button.control-button--edit(href='#') Запрос


        .controls-popup__team
            .controls-popup__team-date-create Регистрация 04.12.2017 в 17:35
            .controls-popup__content-grid
                .controls-popup__information
                    h3.controls-popup__team-title АвтоМир
                    .controls-popup__links
                        a(href='#') 14 сотрудников
                        a(href='#') <span>team</span>.lal.cc

                .controls-popup__buttons-box

                    a.control-button.control-button--delete(href='#' data-state-info='Запрос отправлен')
                        span.is-desktop Отменить
                        i.mdi.mdi-close.not-desktop


        .controls-popup__team
            .controls-popup__team-date-create Регистрация 04.12.2017 в 17:35
            .controls-popup__content-grid
                .controls-popup__information
                    h3.controls-popup__team-title FT3
                    .controls-popup__links
                        a(href='#') 5 сотрудников
                        a(href='#') <span>team.</span>ft3.com

                .controls-popup__buttons-box

                    a.control-button.control-button--delete.control-button--delete-gray(href='#' data-state-info='Вы прикреплены')
                        span.is-desktop Отменить
                        i.mdi.mdi-close.not-desktop


        .controls-popup__team
            .controls-popup__team-date-create Регистрация 04.12.2017 в 17:35
            .controls-popup__content-grid
                .controls-popup__information
                    h3.controls-popup__team-title Коворкинг PO₂RT
                    .controls-popup__links
                        a(href='#') 2 сотрудников
                        a(href='#') <span>team.</span>coworking-port.ru

                .controls-popup__buttons-box

                    .controls-popup__buttons-box-message Вы уже прикреплены к компании Авилон


.popup.popup--no-min-height#popup-search-team
    include _popup_close

    .controls-popup.forms
        h2.controls-popup__title Добавить сотрудника:

        .controls-popup__input-grid
            input(type='search')
            button.control-button.control-button--edit Отправить



.popup.popup--no-min-height#popup-search-team-add
    include _popup_close

    .controls-popup.forms
        h2.controls-popup__title Добавить сотрудника:

        .controls-popup__input-grid
            input(type='search')
            button.control-button.control-button--edit Отправить

        .controls-popup__team
            .controls-popup__content-grid
                .controls-popup__information
                    a.controls-popup__mail(href='#') jurabelson@yandex.ru

                .controls-popup__buttons-box
                    .controls-popup__buttons-box-message Приглашение отправлено


        .controls-popup__team
            .controls-popup__content-grid
                .controls-popup__information
                    a.controls-popup__mail(href='#') arkady@rambler.ru

                .controls-popup__buttons-box
                    .controls-popup__buttons-box-message Приглашение отправлено


        .controls-popup__team
            .controls-popup__content-grid
                .controls-popup__information
                    a.controls-popup__mail(href='#') lolopup@rambler.ru

                .controls-popup__buttons-box
                    .controls-popup__buttons-box-message Приглашение отправлено


        .controls-popup__team
            .controls-popup__content-grid
                .controls-popup__information
                    a.controls-popup__mail(href='#') arkady@rambler.ru

                .controls-popup__buttons-box
                    .controls-popup__buttons-box-message Приглашение отправлено




