mixin workersCards()

    .employees__block

        article.employee-card-preview.card.js-hover-container
            .employee-card-preview__content
                a.js-hover(href='employee_articles.html')
                    img.employee-card-preview__userpic(src='../assets/images/userpic.svg' alt='')
                h2.employee-card-preview__title
                    a.employee-card-preview__title-link.js-hover(href='employee_articles.html') Константин Ковалевский

                p.employee-card-preview__desc Старший менеджер


            .controls-button-grid.controls-button-grid--full.controls-button-grid--top-auto

                a.control-button.control-button--edit(href='#') Найти команду


    .employees__block

        article.employee-card-preview.card.js-hover-container
            .employee-card-preview__content
                a.js-hover(href='employee_articles.html')
                    img.employee-card-preview__userpic(src='../assets/images/userpic.svg' alt='')
                h2.employee-card-preview__title
                    a.employee-card-preview__title-link.js-hover(href='employee_articles.html') Константин Ковалевский

                p.employee-card-preview__desc Старший менеджер


            .controls-button-grid.controls-button-grid--full.controls-button-grid--top-auto

                a.control-button.control-button--edit(href='#')  Отменить


    .employees__block

        article.employee-card-preview.card.js-hover-container
            .employee-card-preview__content
                a.js-hover(href='employee_articles.html')
                    img.employee-card-preview__userpic(src='../assets/images/userpic.svg' alt='')
                h2.employee-card-preview__title
                    a.employee-card-preview__title-link.js-hover(href='employee_articles.html') Константин Ковалевский

                p.employee-card-preview__desc Старший менеджер


            .controls-button-grid.controls-button-grid--top-auto

                a.control-button.control-button--edit(href='#')  Добавить

                a.control-button.control-button--delete(href='#')
                    span.is-desktop Отказать
                    i.mdi.mdi-close.not-desktop


    .employees__block

        article.employee-card-preview.card.js-hover-container
            .employee-card-preview__content
                a.js-hover(href='employee_articles.html')
                    img.employee-card-preview__userpic(src='../assets/images/userpic.svg' alt='')
                h2.employee-card-preview__title
                    a.employee-card-preview__title-link.js-hover(href='employee_articles.html') Константин Ковалевский

                p.employee-card-preview__desc Старший менеджер


            .controls-button-grid.controls-button-grid--top-auto.controls-button-grid--full

                .controls-button-grid__min-buttons


                    .controls-button-grid__min-buttons-box
                        a.control-button.control-button--edit.control-button--min-buttons(href='#' data-message='QR-CODE')
                            i.mdi.mdi-qrcode

                    .controls-button-grid__min-buttons-box
                        a.control-button.control-button--edit.control-button--min-buttons(href='#' data-message='Сделать владельцем')
                            i.mdi.mdi-crown

                    .controls-button-grid__min-buttons-box
                        a.control-button.control-button--edit.control-button--min-buttons(href='#' data-message='Редактировать')
                            i.mdi.mdi-pencil

                    .controls-button-grid__min-buttons-box
                        a.control-button.control-button--delete.control-button--min-buttons(href='#' data-message='Удалить')
                            i.mdi.mdi-close


