doctype html

html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport' content='width=device-width')
        title FT3 / Демо
        link(rel='stylesheet' media='all' href='../assets/stylesheets/application.css')

    body
        main
            .container
                .card(style='padding: 4rem;')
                    .content

                        h3 ЛК

                        ol
                            li: a(href='lk_editor.html') Редактирование(Шапка - есть команда)
                            li: a(href='lk_create.html') Создание(Шапка - нет команд)
                            li: a(href='lk_settings.html') Настройки
                            li: a(href='lk_articles.html') Статьи(на кнопке удалить есть алерт) + (чекбокс на "статьи сотрудников") + (опубликовано / черновик)
                            li: a(href='lk_articles_2.html') Статьи(на кнопке удалить есть алерт) + ( чекбокс на "мои статьи")
                            li: a(href='lk_reviews.html') Отзывы (чекбокс на всех пользователях)
                            li: a(href='lk_reviews_2.html') Отзывы (чекбокс на юзере)
                            li: a(href='lk_employees.html') Запросы (переписка с пользователями)
                            li: a(href='lk_workers.html') Управление Сотрудниками(чекбокс на "УПРАВЛЕНИЕ СОТРУДНИКАМИ")
                            li: a(href='lk_workers_2.html') Управление Сотрудниками(чекбокс на "СОТРУДНИК")
                            li: a(href='articles.html') Статьи (старая страница, просто добавилась категория)

                        h3 ЛК Попапы

                        ol

                            li: a.js-popup(href='#popup-search-team-result') Попап 1
                            li: a.js-popup(href='#popup-search-team') Попап 2.1
                            li: a.js-popup(href='#popup-search-team-add') Попап 2.2

                        h3 ЛК Alerts

                        ol

                            li: a.js-alert-open-save(href='#') Сохранить
                            li: a.js-alert-open-delete(href='#') Удалить


                        h3 Попапы
                        ol
                            li: a.js-popup(href='#popup-authorization') Авторизация

                                li: a.js-popup(href='#popup-review-not-authorized') Оставить отзыв (не авторизован)
                                li: a.js-popup(href='#popup-review-authorized') Оставить отзыв (авторизован)
                                li: a.js-popup(href='#popup-answer') Ответить на отзыв

                                li: a.js-popup(href='#popup-mail') Написать сообщение

                                li: a.js-popup(href='#popup-messages-empty') Личное сообщение (нет сообщений)
                                li: a.js-popup(href='#popup-messages-full') Личное сообщение (есть сообщения)

                                li: a.js-popup(href='#popup-message') Сообщение

                        h3 Страницы

                        ol
                            li: a(href='employees.html') Сотрудники
                            li: a(href='articles.html') Статьи
                            li: a(href='reviews.html') Отзывы
                            li: a(href='employee_articles.html') Сотрудник (статьи)
                            li: a(href='employee_reviews.html') Сотрудник (отзывы)
                            li: a(href='article.html') Статья




        include layouts/components/_popups


        script(src='../assets/javascripts/vendor/jquery.js')
        script(src='../assets/javascripts/vendor/jquery-ui.js')
        script(src='../assets/javascripts/vendor/smartresize.js')
        script(src='../assets/javascripts/vendor/jquery.magnific-popup.js')
        script(src='../assets/javascripts/vendor/autosize.js')

        script(src='../assets/javascripts/variables.js')
        script(src='../assets/javascripts/utilities.js')

        script(src='../assets/javascripts/components/header.js')
        script(src='../assets/javascripts/components/mobile_menu.js')
        script(src='../assets/javascripts/components/popups.js')
        script(src='../assets/javascripts/components/selectmenu.js')
        script(src='../assets/javascripts/components/alerts.js')