extends layouts/lk_application

block title
    title FT3 / Редактирование

block header
    include layouts/components/_header
    + header({authorized: true})

block main

    .editor
        .container

            .editor__box
                form.page-controls.page-controls--editor.forms
                    .page-controls__input-grid.page-controls__input-grid--filter

                        .page-controls__filter-input-block.page-controls__filter-input-block--1-4
                            select.js-selectmenu-select
                                option(disabled selected) Категория
                                option Option 2
                                option Option 3

                        .page-controls__filter-input-block.page-controls__filter-input-block--1-4
                            select.js-selectmenu-select
                                option(disabled selected) Приоритет
                                option Option 2
                                option Option 3

                        .page-controls__filter-input-block.page-controls__filter-input-block--editor-buttons.js-fixed-box
                            .page-controls__filter-input-grid
                                .page-controls__filter-input-grid-item
                                    a.filter-button(href='#') Черновик

                                .page-controls__filter-input-grid-item
                                    a.filter-button.filter-button--create(href='#') Опубликовать


                .editor__body

                    form.editor__article

                        .editor__input-block
                            textarea(placeholder='Заголовок статьи')

                        //.editor__input-block.editor__input-block--description
                        //    input(placeholder='Описание статьи')

                        .editor__content-box

                            .editor__buttons#sidebar-controls

                                a#add-code(href='#')
                                    i.mdi.mdi-code-tags

                                a#image-button.ql-image(href='#')
                                    i.mdi.mdi-camera

                                a#video-button(href='#')
                                    i.mdi.mdi-camcorder

                                .editor__input-link-form.js-input-link-form
                                    input(type='text' placeholder='Вставьте ссылку (youtube, vimeo, coub)')
                                    a.button.button--bordered.js-add-link-video(href='#') Продолжить
                                    a.button.button--bordered.js-editor-cancel(href='#') Отмена

                                .editor__input-link-form.js-input-figcaption
                                    input#picField(type='file')
                                    input(type='text' placeholder='Название или описание изображения')
                                    a.button.button--bordered.js-add-figcaption(href='#') Продолжить
                                    a.button.button--bordered.js-editor-cancel(href='#') Отмена

                                .editor__input-link-form.js-input-code
                                    input#picField(type='file')
                                    input(type='text' placeholder='Название или описание изображения')
                                    a.button.button--bordered.js-add-code(href='#') Продолжить
                                    a.button.button--bordered.js-editor-cancel(href='#') Отмена


                            .editor__content#editor-container
                                h1(data-placeholder='lol')




block mobileMenu
    include layouts/components/_mobile_menu
    + mobileMenu({authorized: true, inner: false})