extends layouts/lk_application

block title
    title FT3 / Редактирование

block header
    include layouts/components/_header
    + header({authorized: true})

block main

    .editor
        .container

            .editor__box
                form.page-controls.page-controls--editor.forms
                    .page-controls__input-grid.page-controls__input-grid--filter

                        .page-controls__filter-input-block.page-controls__filter-input-block--1-4
                            select.js-selectmenu-select
                                option(disabled selected) Категория
                                option Option 2
                                option Option 3

                        .page-controls__filter-input-block.page-controls__filter-input-block--1-4
                            select.js-selectmenu-select
                                option(disabled selected) Приоритет
                                option Option 2
                                option Option 3

                        .page-controls__filter-input-block.page-controls__filter-input-block--editor-buttons.js-fixed-box
                            .page-controls__filter-input-grid
                                .page-controls__filter-input-grid-item
                                    a.filter-button(href='#') Черновик

                                .page-controls__filter-input-grid-item
                                    a.filter-button.filter-button--create(href='#') Опубликовать


                .editor__body

                    form.editor__article

                        .editor__content-box
                            .editor__content.editable
                                h1(data-label='Заголовок статьи')
                                p(data-placeholder='Текст или фото...')


block mobileMenu
    include layouts/components/_mobile_menu
    + mobileMenu({authorized: true, inner: false})