extends layouts/lk_application

block title
    title FT3 / Сотрудник

block header
    include layouts/components/_header
    + header({authorization: false, inner: false})

block main
    include layouts/components/_reviews_controls
    + reviews_controls(false)
    .employee-layout.employee-layout--alt
        .container
            .employee-layout__row
                .employee-layout__column

                    .reviews

                        .reviews__list

                            - var reviews = [{title: 'Имя фамилия', link: null, review: 'Костя, где же ты? Появись, наконец! Ждём с нетерпением!', reviewer: 'Аркадий Шпателев1', icon: 'up', response: true, moderation: true}, {title: 'Имя фамилия', link: null, review: 'Так это в штатах, там тепло :)', reviewer: 'Андрей Богоявленский'}, {title: 'Имя фамилия', link: null, review: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras libero neque, laoreet eu mi non, interdum sollicitudin dui. Pellentesque mollis ut massa vitae congue. Nullam ac est ut ante sodales vestibulum vitae eu leo. Mauris quis vestibulum turpis.', reviewer: 'Аркадий Шпателев'}]
                            - each review in reviews
                                include layouts/components/_review_card
                                + reviewCard(review.title, review.link, review.review, review.reviewer, review.icon, review.response, review.moderation)

                    include layouts/components/_loader

block mobileMenu
    include layouts/components/_mobile_menu
    + mobileMenu({authorized: false, inner: true})


block append scripts
    script(src='../assets/javascripts/components/employees.js')
    script(src='../assets/javascripts/components/messengers.js')
    script(src='../assets/javascripts/components/content.js')