extends layouts/lk_application

block title
    title FT3 / Сотрудники

block header
    include layouts/components/_header
    + header({authorized: true})

block main

    section
        .container
            .setting-form
                .setting-form__title-line
                    h1 Персональные данные

                .setting-form__header

                    .setting-form__image-block
                        img#user-photo(src='../assets/images/userpic.svg' alt='photo')
                        a.js-open-crop(href="javascript:void(0);")
                            span Изменить
                            input(type="file" id="upload" value="Choose a file" accept="image/*")

                    .setting-form__image-block.setting-form__image-block--qr
                        img(src='../assets/images/qr.png' alt='photo')
                        a(href='#') Скачать

                .setting-form__form-body.forms

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Ваше имя
                        input(type='text' value='Максим Скрябин')

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Email
                        input(type='email' value='skrybin@yandex.ru' disabled)

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Должность
                        input(type='email')

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label.setting-form__form-input-block--custom-absolute
                        label Коротко о себе
                        textarea

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Адрес страницы
                        input(value='team.avilon.ru/mad_max83')
                        p Может содержать буквы, цифры или знак «_»

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Язык
                        select.js-selectmenu-select
                            option Русский
                            option Deutsch
                            option Spain

                    h5.setting-form__group-title Для финансовго поощрения

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label PaypalMe
                        input

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Яндекс.Деньги
                        input

                    h5.setting-form__group-title Ссылки на социальные сети

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Facebook
                        input

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Twitter
                        input

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Linkedin
                        input

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label YouTube
                        input

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Вконтакте
                        input

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Instagram
                        input

                    h5.setting-form__group-title Контактная информация

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Skype
                        input

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Telegram
                        input

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Телефон
                        input

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label.setting-form__form-input-block--custom-absolute
                        label Skype
                        input

                        label.forms__label-check
                            span.forms__checkbox
                                input(type='checkbox')
                                span
                                i

                            span Viber

                        label.forms__label-check
                            span.forms__checkbox
                                input(type='checkbox')
                                span
                                i

                            span WhatsApp

                    h5.setting-form__group-title статистика посещений Вашей странице

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Id Яндекс метрики
                        input
                        p Например: new Ya.Metrika({id:11111111})

                    .setting-form__form-input-block.setting-form__form-input-block--absolute-label
                        label Google Analytics key
                        input
                        p Например: UA-XXXXX-Y

                    .setting-form__form-input-block.setting-form__form-input-block--for-button
                        button Сохранить изменения


block mobileMenu
    include layouts/components/_mobile_menu
    + mobileMenu({authorized: true, inner: false})