- var team = true
- var autorized = true

doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block title
        link(rel='stylesheet' media='all' href='../assets/stylesheets/application.css')
        script(src='../assets/javascripts/vendor/modernizr-custom.js')

    body.personal_area

        block header

        main
            block main

        block messengers
        block mobileMenu
        include components/_popups

        block scripts
            script(src='../assets/javascripts/vendor/jquery.js')
            script(src='../assets/javascripts/vendor/jquery-ui.js')
            script(src='../assets/javascripts/vendor/jquery.magnific-popup.js')
            script(src='../assets/javascripts/vendor/autosize.js')
            script(src='../assets/javascripts/vendor/smartresize.js')
            script(src='../assets/javascripts/vendor/dropzone.js')
            script(src='../assets/javascripts/vendor/quill.js')
            script(src='../assets/javascripts/vendor/parchment.js')
            script(src='../assets/javascripts/vendor/croppie.js')


            script(src='../assets/javascripts/variables.js')
            script(src='../assets/javascripts/utilities.js')
                script(src='../assets/javascripts/components/editor.js')
            script(src='../assets/javascripts/components/header.js')
            script(src='../assets/javascripts/components/mobile_menu.js')
            script(src='../assets/javascripts/components/popups.js')
            script(src='../assets/javascripts/components/label_switch.js')
            script(src='../assets/javascripts/components/selectmenu.js')
            script(src='../assets/javascripts/components/dropimage.js')
            script(src='../assets/javascripts/components/editor.js')
            script(src='../assets/javascripts/components/alerts.js')
            script(src='../assets/javascripts/components/color.js')
            script(src='../assets/javascripts/components/crop.js')
